body {
  background-color: hsl(148, 38%, 91%);
}
.parent {
  background-color: hsl(0, 0%, 100%);
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  margin: auto;
  padding: 18px;
  width: 200px;
  border-radius: 10px;
}
.firstchild {
  display: flex;
  flex-direction: column;
  line-height: 2;
  
}


/* div for general enquiry */
.button{width: 90%;
height: 50px;
background-color: white;
box-shadow: none;
border-style: groove;
border-radius: 7px;
}

#freeform{width: 88%;
   height: 150px;
    border-radius: 5px;}
  #consent{margin: 10px;
}

.green{Width: 88%;
height: 47px;
color: white;
padding: 5px;
box-shadow: none;
border-radius: 9px;
background-color: hsl(155, 43%, 34%)
}

input: :invalid{
  border: 2px dashed red;
}

input: :invalid:required{}








### Font

- Family: [Karla](https://fonts.google.com/specimen/Karla)
- Weights: 400, 700
implement javascript